<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scheduling">
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ChooseButton">

        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".HomeActivity"
            android:parentActivityName="">

        </activity>
        <activity android:name=".MainActivity2"
            android:parentActivityName=".DiskChooser">


        </activity>

        <activity android:name=".Definitions"
            android:parentActivityName=".DiskChooser">

        </activity>
        <activity android:name=".AlgoChooser"
            android:parentActivityName=".MainActivity2">

        </activity>
        <activity android:name=".FCFSDES"
            android:parentActivityName=".Definitions">

        </activity>
        <activity android:name=".SCANDES"
            android:parentActivityName=".Definitions">

        </activity>
        <activity android:name=".SSTFDES"
            android:parentActivityName=".Definitions">

        </activity>
        <activity android:name=".LOOKDES"
            android:parentActivityName=".Definitions">

        </activity>
        <activity android:name=".CSCANDES"
            android:parentActivityName=".Definitions">

        </activity>
        <activity android:name=".CLOOKDES"
            android:parentActivityName=".Definitions">


        </activity>
       <activity android:name=".DiskChooser"/>

    </application>

</manifest>